<div class="template h-[100vh] bg-cover bg-center ">
      <div class="bg-slate-50 flex first-block ma-marge shadow-md ">
        <div class="bloc-left">
          <h1 class="text-5xl font-bold text-slate-600 my-name">Benjamin OHANDJA</h1>
          <h2 class="text-orange-600 font-bold text-3xl identity italic">Sofware developper <i class="las la-user-secret text-5xl text-orange-600"></i></h2>
          <p class="about-motivation text-slate-600 text-xl ">Amoureux de l’informatique, Je me suis dévoué à
             <strong>l’apprentissage</strong> et à la <br> <strong>retransmission</strong>  de ce que j’apprends. <br>
             notamment dans le <strong>développement WEB</strong> , mais aussi les <strong>sciences</strong> en général
              et l'art architectural dans sa globalité. <br>
            J’ai un intérêt prononcé pour les expérimentations,
            <br> qui sont pour moi une maniere d'éxprimer ma créativité.</p>
            <div class=" see mt-7 flex  space-x-6 mb-10 pt-80" >
            <a href="#projet" class="inline-block bg-orange-600 border-2 duration-300 border-orange-600 
            hover:border-x-2 hover:bg-orange-500 h-12
            rounded-full text-white  px-10 btn  w-auto">VOIR MES PROJETS</a>
            <a href="#aventure" class="inline-block  bg-slate-600 border-2 
            rounded-full text-white  px-10 pt-3 btn  w-auto h-12 duration-300 hover:bg-gray-800">COMMENCER L'AVENTURE</a>
            </div>
            <p class="text-slate-600 mb-6  take-a-look">Take a look of my project</p>
            <div class="link-project space-x-2 pb-5 sociaux">
               <button class="rounded-full hover:shadow-xl border-2
               duration-200 border-slate-600  h-10 w-auto px-5 inline-block" href="in/benjamin-ohandja-358199241"> <i class=" text-blue-600 lab la-linkedin text-xl ">
               </i> Linkedin </button>
               <a class="rounded-full hover:shadow-xl border-2 inline-block
               duration-200 border-slate-600  h-10 w-auto px-5 pt-1" href="https://github.com/bendevtech16"> 
               <i class="lab la-github text-xl text-violet-600"></i>Github</a>
               <a class="rounded-full hover:shadow-xl border-2 inline-block
                duration-200 border-slate-600 h-10 w-auto px-5 pt-1"  href="https://www.youtube.com/channel/UCbwwVcCvBFSUeqNUtHTV7yA">
                <i class="las la-play-circle text-xl text-red-600"></i> Youtube</a>
                
            </div>

        </div>
        <div class=" box-profil w-[600px] bg-opacity-20   h-[500px] ">
          <div class=" bloc-rigth img-box w-full h-auto  relative">
              <img src="../assets/profil.jpg" alt="profil" class=" w-[100%] rounded-2xl photo ">
          </div>
      </div>
    </div>
    <!-- // debut section des projets -->
    <div class=" bg-slate-50 text-center projet mx-10 ma-marge shadow-md " id="projet ">
        <h2 class="text-slate-600 font-bold text-3xl pt-5"> Mes projets et realisations !</h2>
        <p class="text-slate-600 pt-5 pb-5 para">Découvrez les différents projets sur lesquels j'ai eu 
            à travailler, en entreprise, en Freelance, mes projets personels, <br>
             et ceux que je met à la disposition de toute la communauté DEV .</p>

  <div class="container-project border rounded-lg h-auto px-3 para">
                    <!--Tabs navigation-->
    <ul
    class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0 para"
    role="tablist"
    data-te-nav-ref>
        <li role="presentation" class="flex-grow basis-0 text-center">
        <a
            href="#tabs-home02"
            class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent
            px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight
            text-neutral-500 hover:isolate hover:border-transparent
            hover:bg-neutral-100 focus:isolate focus:border-transparent
                data-[te-nav-active]:border-orange-600 data-[te-nav-active]:text-orange-600
                dark:text-neutral-400 dark:hover:bg-transparent
                dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
            data-te-toggle="pill"
            data-te-target="#tabs-home02"
            data-te-nav-active
            role="tab"
            aria-controls="tabs-home02"
            aria-selected="true"
            > <i class="las la-user-graduate text-3xl"></i> ENTREPRISE</a
        >
        </li>
        <li role="presentation" class="flex-grow basis-0 text-center">
        <a
            href="#tabs-profile02"
            class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent
             px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight
              text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 
              focus:isolate focus:border-transparent data-[te-nav-active]:border-orange-600
               data-[te-nav-active]:text-orange-600 dark:text-neutral-400 dark:hover:bg-transparent
                dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
            data-te-toggle="pill"
            data-te-target="#tabs-profile02"
            role="tab"
            aria-controls="tabs-profile02"
            aria-selected="false"
            > <i class="lab la-connectdevelop text-3xl"></i> FREELANCE</a
        >
        </li>
        <li role="presentation" class="flex-grow basis-0 text-center">
        <a
            href="#tabs-messages02"
            class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent
             px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight
              text-neutral-500 hover:isolate hover:border-transparent
              hover:bg-neutral-100 focus:isolate focus:border-transparent
               data-[te-nav-active]:border-orange-600 data-[te-nav-active]:text-orange-600
                dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400
                 dark:data-[te-nav-active]:text-primary-400"
            data-te-toggle="pill"
            data-te-target="#tabs-messages02"
            role="tab"
            aria-controls="tabs-messages02"
            aria-selected="false"
            ><i class="las la-coffee text-3xl"></i>  PERSONNELS</a
        >
        </li>

</ul>

            <!--Tabs content-->
            <div class="mb-6">
                <div
                class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-home02"
                role="tabpanel"
                aria-labelledby="tabs-home-tab02"
                data-te-tab-active>
                <div class="flex flex-shrink space-x-2 space-y-2 text-center">
                    <div class="carte relative w-[350px] h-auto shadow-lg border rounded-xl ease-in duration-300">
                        <img src="../assets/foodDb.PNG" alt="foodDb" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                        <h2 class="text-orange-600 text-sm font-mono">FoodDB</h2>
                        <p class="text-slate-600 text-xl p-3"> la base de donnees alimentaire au cameroun avec 
                        plus de 1 000 000 recette colectee avec avec l'appui des nutritionniste.</p>
                    </div>
                    <div class="carte relative ease-in duration-300 w-[350px] h-auto shadow-lg border rounded-xl ">
                        <img src="../assets/chatify.PNG" alt="chatify" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                        <h2 class="text-orange-600 text-sm font-mono">Chatify</h2>
                        <p class="text-slate-600 text-xl p-3"> une application de discussion instantannee avec pleine de fonctionalites...</p>
                    </div>
                    <div class="carte ease-in duration-300 relative w-[350px] h-auto shadow-lg border rounded-xl ">
                        <img src="../assets/my-moneda.PNG" alt="my-moneda" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                        <h2 class="text-orange-600 text-sm font-mono">My Moneda</h2>
                        <p class="text-slate-600 text-xl p-3"> une application de transfert d'argent en quelques clicks...</p>
                    </div>
                    <div class="carte relative ease-in duration-300 hover:duration-300 hover:ease-in w-[350px] h-auto shadow-lg border rounded-xl ">
                        <img src="../assets/e-market.PNG" alt="e-market" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                        <h2 class="text-orange-600 text-sm font-mono">e-market</h2>
                        <p class="text-slate-600 text-xl p-3"> une application web de vente d'articles moderne...</p>
                    </div>
                </div>
                </div>
                <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-profile02"
                role="tabpanel"
                aria-labelledby="tabs-profile-tab02">
                <div class="flex flex-wrap space-x-2 space-y-2 text-center">
                  <div class="carte relative w-[350px] h-auto shadow-lg border rounded-xl ease-in duration-300">
                      <img src="../assets/feit-electrique.png" alt="foodDb" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                      <h2 class="text-orange-600 text-sm font-mono">Feit-electric</h2>
                      <p class="text-slate-600 text-xl p-3"> Un site de prestation de service. retouver votre partenaire pour tous vos problemes
                        d'electricite...
                      </p>
                  </div>
                  <div class="carte relative ease-in duration-300 w-[350px] h-auto shadow-lg border rounded-xl ">
                      <img src="../assets/maligah.png" alt="chatify" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                      <h2 class="text-orange-600 text-sm font-mono">Maligah</h2>
                      <p class="text-slate-600 text-xl p-3"> une application de gestion du centre de santé sis à Douala...</p>
                  </div>
                  
              </div>
                </div>
                <div
                class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-messages02"
                role="tabpanel"
                aria-labelledby="tabs-profile-tab02">
                <div class="flex flex-wrap space-x-2 space-y-2 text-center">
                  <div class="carte relative w-[350px] h-auto shadow-lg border rounded-xl ease-in duration-300">
                      <img src="../assets/RDM-calcul-de-poutre.png" alt="foodDb" class=" h-[300px] w-[100%] brightness-100 hover:brightness-50 ">
                      <h2 class="text-orange-600 text-sm font-mono">Inflexion</h2>
                      <p class="text-slate-600 text-xl p-3"> Une application de calcule de poutre, barre metallique et calcul de RDM dans le domaine
                        du genie civil...
                      </p>
                  </div>
              </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- //fin section des projets -->

    

    <!-- ==========================================================================
                      mes outils de travails                                       
        ===========================================================================-->
        <!--Tabs navigation-->
      <!-- // debut section des projets -->
    <div class="border-2 bg-slate-50 text-center mx-10 shadow-md  my-5 ma-marge">
      <h2 class="text-slate-600 font-bold  pt-5 text-3xl"> Mes outils de travail !</h2>
      <p class="text-slate-600 pt-5 pb-5 para">Pour vaincre le dragon et sauver la princesse, le chevalier a besoin d'une série d'artefacts.
        <br> Pour surmonter les objectifs, je dispose moi aussi d'un arsenal toujours plus grand !</p>
        <!--Tabs navigation-->
<ul
class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0 pt-5" 
role="tablist"
data-te-nav-ref>
<li role="presentation" class="flex-auto text-center">
  <a
    href="#tabs-home01"
    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium 
    uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
    focus:border-transparent data-[te-nav-active]:border-orange-500 data-[te-nav-active]:text-orange-500 dark:text-neutral-400 
    dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
    data-te-toggle="pill"
    data-te-target="#tabs-home01"
    data-te-nav-active
    role="tab"
    aria-controls="tabs-home01"
    aria-selected="true"
    > <i class="las la-toolbox text-3xl text-orange-500"></i>  FRONTEND</a
  >
</li>
<li role="presentation" class="flex-auto text-center">
  <a
    href="#tabs-profile01"
    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium 
    uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
    focus:border-transparent data-[te-nav-active]:border-orange-500 data-[te-nav-active]:text-orange-500 dark:text-neutral-400 
    dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
    data-te-toggle="pill"
    data-te-target="#tabs-profile01"
    role="tab"
    aria-controls="tabs-profile01"
    aria-selected="false"
    ><i class="las la-toolbox text-3xl text-orange-500"></i>   BACKEND</a
  >
</li>
<li role="presentation" class="flex-auto text-center">
  <a
    href="#tabs-messages01"
    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium 
    uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
    focus:border-transparent data-[te-nav-active]:border-orange-500 data-[te-nav-active]:text-orange-500 dark:text-neutral-400 
    dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
    data-te-toggle="pill"
    data-te-target="#tabs-messages01"
    role="tab"
    aria-controls="tabs-messages01"
    aria-selected="false"
    ><i class="las la-toolbox text-3xl text-orange-500"></i>   CMS & MANAGEMENT</a
  >
</li>
<li role="presentation" class="flex-auto text-center">
  <a
    href="#tabs-contact01"
    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium 
    uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
    focus:border-transparent data-[te-nav-active]:border-orange-500 data-[te-nav-active]:text-orange-500 dark:text-neutral-400 
    dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
    data-te-toggle="pill"
    data-te-target="#tabs-contact01"
    role="tab"
    aria-controls="tabs-contact01"
    aria-selected="false"
    ><i class="las la-toolbox text-3xl text-orange-500"></i> DESIGN ET MODELISATION</a
  >
</li>
</ul>

<!--Tabs content-->
<div class="mb-6">
<div
  class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
  id="tabs-home01"
  role="tabpanel"
  aria-labelledby="tabs-home-tab01"
  data-te-tab-active>
     <div class="containeur grid grid-cols-2 space-x-5 ">
          <div class="overflow-auto pr-8">
            <p class="indent-8 text-xl pt-10 text-[#787878] pl-5 ">   Créer des PWA ou des WEB App attractives et optimisées 
              Ils me permettent d'exprimer ma créativité et de la transformer en quelque chose de concret.
               Ils sont un peu mes outils de prédilection. Je les utilise pour intégrer les interfaces de grands projets,
              ou pour construire des applications complètes, 
              comme ce PORTFOLIO par exemple, ou d'autres applications que vous pouvez voir dans mes projets.</p>

            <p class="pb-1 pt-12"><strong>Note</strong>: le niveau de maitrise des outils est gradué comme suit : <br>
              <button
  type="button"
  class="inline-block rounded-full w-auto bg-yellow-400 px-2  text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
  Débutant
</button>  -
<button
  type="button"
  class="inline-block rounded-full w-auto bg-blue-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)]">
  Intermédiaire
</button>  - 
<button
  type="button"
  class="inline-block rounded-full w-auto bg-orange-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]">
  avancé
</button>  -
<button
  type="button"
  class="inline-block rounded-full w-auto bg-green-500 px-2 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
  Expert
</button>
          </p>
          </div>
          <div class=" flex flex-wrap gap-2 "> 
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/angular.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Angular   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/react.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>React  <i class="las la-circle text-yellow-400 bg-yellow-400 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/js.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Js   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/typescript.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Typescript <i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/html.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Html <i class="las la-circle text-green-500 bg-green-500 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/css.png"
              class="rounded-lg shadow-lg w-[100%] h-32  sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Css <i class="las la-circle text-green-500 bg-green-500 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/taildwind.png"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Taildwind   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
            </div>
            <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
              <img
              src="../assets/bootstrap.jpg"
              class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
              alt="Avatar" />
              <h2>Bootstrap   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
            </div>
           
          </div>
        </div>
</div>
<div
  class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
  id="tabs-profile01"
  role="tabpanel"
  aria-labelledby="tabs-profile-tab01">
  <div class="containeur grid grid-cols-2 space-x-5 ">
    <div class="overflow-auto pr-8">
      <p class="indent-8 text-xl pt-10 text-[#787878]">  Pour l'implémentation d'API, ou des projets simples côté serveur.
        J'ai appris la programmation à travers JAVA, et les frameworks avec Sring boot puis l'environnement JEE Mais aussi PHP avec le framework Symfony. 
        J'utilise toujours ces technologies pour mes projets 
        personnels d'API, ou pour des actions avancées sur des CMS comme Wordpress...</p>

      <p class="pb-1 pt-12 "><strong class="">Note</strong>: le niveau de maitrise des outils est gradué comme suit : <br>
        <button
type="button"
class="inline-block rounded-full w-auto bg-yellow-400 px-2  text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
Débutant
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-blue-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)]">
Intermédiaire
</button>  - 
<button
type="button"
class="inline-block rounded-full w-auto bg-orange-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]">
avancé
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-green-500 px-2 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
Expert
</button>
    </p>
    </div>
    <div class=" flex flex-wrap gap-2 "> 
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/spring.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Sring Boot   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/JEE.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>JEE   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/java.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Java   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-36 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/android.jpg"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Android studio<i class="las la-circle text-yellow-400 bg-yellow-400 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/kotlin.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Kotlin<i class="las la-circle text-yellow-400 bg-yellow-400 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/sql.jpg"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>SQL   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/php.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>PHP <i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/synfo.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Symfony <i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/mysql.png"
        class="rounded-lg shadow-lg w-[100%] h-32  sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Mysql <i class="las la-circle text-green-500 bg-green-500 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/postgreSQL.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>postgreSQL   <i class="las la-circle text-orange-600 bg-orange-600 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/sqlserver.jpg"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Sqlserver   <i class="las la-circle text-yellow-400 bg-yellow-400  rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/ionic.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Ionic   <i class="las la-circle text-blue-700 bg-blue-700  rounded-full" ></i></h2>
      </div>
     
    </div>
  </div>
</div>
<div
  class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
  id="tabs-messages01"
  role="tabpanel"
  aria-labelledby="tabs-profile-tab01">
  
  <div class="containeur grid grid-cols-2 space-x-5 ">
    <div class="overflow-auto pr-8">
      <h3 class="ident-8 text-2xl text-[#787878] font-bold pl-5 para">Je n'aimais pas vraiment ça... maintenant je comprends que j'avais tort</h3>
      <p class="indent-8 text-xl pt-10 text-[#787878] pl-5 ma-marge">   Créer des PWA ou des WEB App attractives et optimisées 
        Ils me permettent d'exprimer ma créativité et de la transformer en quelque chose de concret.
         Ils sont un peu mes outils de prédilection. Je les utilise pour intégrer les interfaces de grands projets,
        ou pour construire des applications complètes, 
        comme ce PORTFOLIO par exemple, ou d'autres applications que vous pouvez voir dans mes projets.</p>

      <p class="pb-1 pt-12"><strong>Note</strong>: le niveau de maitrise des outils est gradué comme suit : <br>
        <button
type="button"
class="inline-block rounded-full w-auto para bg-yellow-400 px-2  text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
Débutant
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-blue-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)]">
Intermédiaire
</button>  - 
<button
type="button"
class="inline-block rounded-full w-auto bg-orange-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]">
avancé
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-green-500 px-2 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
Expert
</button>
    </p>
    </div>
    <div class=" flex flex-wrap gap-2 "> 
      <div class=" relative h-32 w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/WordPress.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>WordPress   <i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/office365.jpg"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Office365  <i class="las la-circle text-blue-700 bg-blue-700  rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/azure.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Azure   <i class="las la-circle text-yellow-400 bg-yellow-400  rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/scrum.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Scrum<i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
    </div>
  </div>
</div>
<div
  class="hidden opacity-0 transition-opacity para duration-150 ease-linear data-[te-tab-active]:block"
  id="tabs-contact01"
  role="tabpanel"
  aria-labelledby="tabs-contact-tab01">
  
  <div class="containeur grid grid-cols-2 space-x-5 para ">
    <div class="overflow-auto pr-8">
      <h3 class="ident-8 text-2xl text-[#787878] font-bold pl-5 para">Je n'aimais pas vraiment ça... maintenant je comprends que j'avais tort</h3>
      <p class="indent-8 text-xl pt-10 text-[#787878] pl-5">   Créer des PWA ou des WEB App attractives et optimisées 
        Ils me permettent d'exprimer ma créativité et de la transformer en quelque chose de concret.
         Ils sont un peu mes outils de prédilection. Je les utilise pour intégrer les interfaces de grands projets,
        ou pour construire des applications complètes, 
        comme ce PORTFOLIO par exemple, ou d'autres applications que vous pouvez voir dans mes projets.</p>

      <p class="pb-1 pt-12"><strong>Note</strong>: le niveau de maitrise des outils est gradué comme suit : <br>
        <button
type="button"
class="inline-block rounded-full w-auto bg-yellow-400 px-2  text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#e4a11b] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.3),0_4px_18px_0_rgba(228,161,27,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(228,161,27,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(228,161,27,0.2),0_4px_18px_0_rgba(228,161,27,0.1)]">
Débutant
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-blue-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)]">
Intermédiaire
</button>  - 
<button
type="button"
class="inline-block rounded-full w-auto bg-orange-600 px-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]">
avancé
</button>  -
<button
type="button"
class="inline-block rounded-full w-auto bg-green-500 px-2 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out  hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
Expert
</button>
    </p>
    </div>
    <div class=" flex-wrap gap-2 grid grid-cols-4 grid-rows-2"> 
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/figma.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Figma   <i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/ps.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Ps  <i class="las la-circle text-blue-700 bg-blue-700  rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/skp.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Sketchup   <i class="las la-circle text-yellow-400 bg-yellow-400  rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/lumion.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Lumion<i class="las la-circle text-blue-700 bg-blue-700 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-40 w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/archicad.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Archicad<i class="las la-circle text-orange-400 bg-orange-400 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/autocad.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Autocad<i class="las la-circle text-orange-400 bg-orange-400 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/3dsmax.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>3DSMax<i class="las la-circle text-orange-400 bg-orange-400 rounded-full" ></i></h2>
      </div>
      <div class=" relative h-auto w-32 text-center p-2 hover:shadow-lg">
        <img
        src="../assets/ai.png"
        class="rounded-lg shadow-lg w-[100%] sepia hover:sepia-0 transition duration-700 ease-in-out"
        alt="Avatar" />
        <h2>Ai<i class="las la-circle text-yellow-400 bg-yellow-400 rounded-full" ></i></h2>
      </div>
    </div>
  </div>
</div>
</div>
  
     
    </div>
    <section class="border-2 bg-slate-50 text-center mx-10 shadow-md para" id="aventure para  ma-marge">
      <h2 class="text-3xl pt-5 font-bold text-slate-600 my-name  para"> Benjamin ne fait pas que coder!</h2>
      <p class="text-xl py-10 text-slate-600 my-name indent-8 ma-marge">Nous avons tendance à croire au mythe du geek programmeur qui est fermé dans son monde de code.
        <br> Je suis ici pour briser ce mythe car, en plus de coder, je suis aussi... !</p>
        <div>
          <!-- Section: Design Block -->
  <section class="background-radial-gradient mb-40 para ma-marge">
    <!-- Jumbotron -->
    <div class="px-6 pt-12 pb-1 text-center md:px-12 lg:text-left">
      <div class="w-100 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl">
        <div class="grid items-center gap-12 lg:grid-cols-2">
          <div class="mt-12 lg:mt-0">
            <h1 class="mt-0 mb-16 text-xl font-bold tracking-tight md:text-6xl xl:text-5xl text-[hsl(218,81%,95%)]">
              Je suis aussi un artiste de l'architure moderne <br /><span class="text-orange-400 text-2xl"> Allons-y explorer la divinité de mon imagination. <a href="https://www.facebook.com/profile.php?id=100091637274382"> <i class="lab la-facebook text-blue-500 text-xl"></i></a></span>
            </h1>
            <a class="mb-2 inline-block rounded-full bg-slate-500 px-5 pt-1 pb-1 text-sm font-medium uppercase hover:border-2 hover:text-orange-400
             border-orange-400 border leading-normal text-white shadow-[0_4px_9px_-4px_#cbcbcb] 
             transition duration-150 ease-in-out hover:bg-transparent 
              hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] md:mr-2 md:mb-0"
              data-te-ripple-init data-te-ripple-color="light" href="mailto:bohandja16@gmail.com" role="button"> <i class="las la-envelope text-2xl text-white"></i>   email</a>
              <a class="mb-2 inline-block rounded-full border px-5 pt-1 pb-1 text-sm font-medium uppercase hover:border-2 hover:text-orange-400
              border-orange-400 leading-norma shadow-[0_4px_9px_-4px_#cbcbcb] 
              transition duration-150 ease-in-out hover:bg-transparent 
               hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 bg-slate-500 text-white focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] md:mr-2 md:mb-0"
               data-te-ripple-init data-te-ripple-color="light" href="tel:+237695254182" role="button"> <i class="las la-phone text-2xl text-orange-400"></i> Appel direct</a>
               <a class="mb-2 inline-block rounded-full border px-5 pt-1 pb-1 text-sm font-medium uppercase hover:border-2 hover:text-orange-400
               border-orange-400 leading-norma shadow-[0_4px_9px_-4px_#cbcbcb] 
               transition duration-150 ease-in-out hover:bg-transparent 
                hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 bg-green-400 text-white focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] md:mr-2 md:mb-0"
                data-te-ripple-init data-te-ripple-color="light" href="https://call.whatsapp.com/voice/vb8TEhWYG5UZ8vFfY5AXpV" role="button"> <i class="lab la-whatsapp text-2xl text-white"></i> Whatsapp</a>
                
               
              
          </div>
          <div class="mb-12 lg:mb-0">
            <img src="../assets/btp.jpg"
              class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="" />
          </div>
          <span class=" text-sm text-gray-400 text-right"> l'art de se déplacer en esprit dans un plan euclidien pour générer des oeuvres d'Art...</span>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
        </div>
     </section>
  <!--Footer-->
<footer
class="bg-neutral-200  text-center para  text-gray-500 dark:bg-neutral-600 mt-5
 dark:text-neutral-200 lg:text-left">
<!-- Social icons -->
<div class="border-b-2 border-neutral-200 p-6 dark:border-neutral-500">
  <div class="container mx-auto px-10">
    <div class="flex items-center justify-center lg:justify-between">
      <div class="mr-12 hidden lg:block">
        <span>Suivez moi dans les reseaux sociaux:</span>
      </div>
      <div class="flex justify-center border-b-2">
        <a href="https://www.facebook.com/ohandjabenjamin/" class="mr-6 text-gray-500 dark:text-gray-200">
          <i class="lab la-facebook text-blue-700 text-4xl"></i>
        </a>
        <a href="in/benjamin-ohandja-358199241" class="mr-6 text-gray-500 dark:text-gray-200">
          <i class="lab la-linkedin text-4xl text-blue-400"></i>
        </a>
        <a href="https://github.com/bendevtech16" class="text-gray-500 dark:text-gray-200">
          <i class="lab la-github text-4xl text-violet-400"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Social icons -->

<!-- Copyrights -->
<div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700 para ma-marge">
  <span>Copyright © 2023:</span>
  <a
    class="font-normal  text-neutral-600 dark:text-neutral-400"
    href="#!"
    >Benjamin OHANDJA tout droits reservés</a
  >
</div>
<!-- Copyrights -->
</footer>
<!--Footer-->
</div>


<router-outlet></router-outlet>
